
    <mat-toolbar class="bg-primary">
      <mat-toolbar-row style="  position: relative; background-color: #f5f5f5;">
        
        <img src="assets/image/logo.png" width="170px" height="150px" style="position: absolute; left: 2%; 
        padding-left: 3px; padding-right: 0px;"  />
         <button mat-icon-button   >
          <mat-icon  (click)="sidenav.toggle()">menu</mat-icon>
        </button> 
  <h1 class="mx-auto"  style=" color: black;"  >Entretien Annuel Individuel </h1>
        </mat-toolbar-row>
      </mat-toolbar>
          <mat-sidenav-container >
            <mat-sidenav #sidenav mode="side" opened style="background-color: #004f9e;" >
              <mat-nav-list > 
        <a style="padding-left: 20px; padding-right: 20px; " class ="a"  mat-list-item [routerLink]="'./divisions'" routerLinkActive="active" > Divisions </a>
        <div class="dropdown-divider"></div>
        <a style="padding-left: 20px; padding-right: 20px; " class ="a"  mat-list-item  [routerLink]="'./filiales'" routerLinkActive="active"> Filiales  </a>
        <div class="dropdown-divider"></div>
        <a style="padding-left: 20px; padding-right: 20px; " class ="a" mat-list-item [routerLink]="'./directions'" routerLinkActive="active"> Directions </a>
        <div class="dropdown-divider"></div>
        <a style="padding-left: 20px; padding-right: 20px;" class ="a" mat-list-item [routerLink]="'./services'" routerLinkActive="active"> Services </a>
        <div class="dropdown-divider"></div>
        <a style="padding-left: 20px; padding-right: 20px;" class ="a" mat-list-item [routerLink]="'./postes'" routerLinkActive="active"> Postes </a>
        <div class="dropdown-divider"></div>
        <a style="padding-left: 20px; padding-right: 20px" class ="a" mat-list-item [routerLink]="'./employes'" routerLinkActive="active"> Employes </a>
        <div class="dropdown-divider"></div>
        <a style="padding-left: 20px; padding-right: 20px;" class ="a" mat-list-item [routerLink]="'./objectifs'" routerLinkActive="active"> Objectifs </a>
        <div class="dropdown-divider"></div>
        <a style="padding-left: 20px; padding-right: 20px; color: white;" mat-list-item  (click)="logout()">Se déconnecter</a>
        <div class="dropdown-divider"></div>
        <a style="padding-left: 20px; padding-right: 20px; color: white;" mat-list-item (click)="sidenav.toggle()"  mat-list-item>Fermer</a>
     
              </mat-nav-list>
            </mat-sidenav>
          
            <mat-sidenav-content  >
           
              <div class="container "style="height: 88vh; " >
                <div class="form-inline justify-content-end m-2" >
                  <label  for="date" class="pr-1">Année</label>
                  <input type="number" class="form-control mr-2" style="width: 100px;" nom="date"  id="date" [(ngModel)]="date" 
                  [readonly]="selectedDev > 1 && selectedDev < 11" 
                  [ngClass]="{ 'is-invalid': errdate}"   >   
                  <div *ngIf="errdate" class="alert alert-danger my-2" >Veuillez saisir une année supérieure à celle d'avant </div> 
                  <!-- 
                  <button *ngIf="selectedDev==1" type="submit" class="btn btn-primary mr-2" (click)="Commencer()">Commencer</button>
                  -->
                  <label  for="etape" class="pr-1">Phase</label>
                  <select *ngIf="!errdate" class="form-control pr-2 "  nom="etape"  id="etape" 
                   [ngModel]="selectedDev" (ngModelChange)="onChangeDev($event)"   >
                  
                    <option  value="1" [disabled]="selectedDev !=8"  > Initialisation</option>
                    <option  value="2"  > Fixation Objectifs Collectifs</option>
                    <option  value="3"  >Debut de la Fixation des Objectifs Individuels</option>
                    <option  value="4" >Fin de la Fixation des Objectifs Individuels </option>
                    <option  value="5"  >Debut de l'Evaluation Mi-parcours  </option>
                    <option  value="6"   >Fin de l'Evaluation Mi-parcours   </option>
                    <option value="7" > Debut de l'Evaluation Finale</option>
                    <option value="8"  >Fin de l'Evaluation Finale</option>
                    
                  </select>
              </div>   
                  <router-outlet ></router-outlet>    
                       
              </div>
              
            </mat-sidenav-content>
          </mat-sidenav-container>