<div>
    <h1 class="mt-3 mb-2" >EVALUATION OBJECTIFS  </h1>
    <div *ngIf="!evalmidep" class="alert alert-danger my-2" >
      Vous pouvez evaluer seulement dans l'etape 5 (debut de l'evaluation mi-parcours...)</div>
      
    <div  *ngIf="evalmidep" class=" my form-group">

        <label for="objexistant">Choisir Objectif  </label>
        <select class="form-control "  [ngModel]="selectedDev" (ngModelChange)="onChangeDev($event)"  >
            <option value=""></option>
          <option  *ngFor="let evaluation of evaluations" (ngValue)="evaluation" >
            {{  evaluation.objectif.nomObjectif  }} </option>
        </select>
      </div>

<div *ngIf="add"  class="card mb-5 mt-2" >
    <h2 class="card-header text-center"> Evaluation Collaborateur </h2>
    <div class="card-body mt-0">
      <div class="card-text">
        <form [formGroup]="evalForm" ngNativeValidate (ngSubmit)="onSubmitForm()">
        <div class="row">
          <div class="col-md-4 my form-group">
          <label for="evalcollmi">Evaluation mi-parcours</label>
          <div class="input-group mb-3">
            <input type="text" id="evalcollmi" class="form-control"  formControlName="evalcollmi" 
            [ngClass]="{ 'is-invalid': submitted && f.evalcollmi.errors, 'is-valid': submitted && f.evalcollmi.valid}" 
             [(ngModel)]="evalcollmi" [readonly]="!evalmi || !eval">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">%</span>
            </div>
          </div>
          </div>
         
          <div class="col-md-8 my form-group">
              <label for="commentairecolmi"> Commentaire</label>
               <textarea id="commentairecolmi" class="form-control"  formControlName="commentairecolmi" 
               [ngClass]="{ 'is-invalid': submitted && f.commentairecolmi.errors, 'is-valid': submitted && f.commentairecolmi.valid}" 
                [(ngModel)]="commentairecolmi"  [readonly]="!evalmi || !eval"  ></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 my form-group">
            <label for="evalcollfi">Evaluation Finale</label>
            <div class="input-group mb-3">
              <input type="text" id="evalcollfi" class="form-control" formControlName="evalcollfi" 
              [ngClass]="{ 'is-invalid': submitted && f.evalcollfi.errors, 'is-valid': submitted && f.evalcollfi.valid}" 
               [(ngModel)]="evalcollfi"  [readonly]="!evalf || !eval" >
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">%</span>
              </div>
            </div>
          </div>
    
          <div class="col-md-8 my form-group">
              <label for="commentairecolfi"> Commentaire</label>
               <textarea  id="commentairecolfi" class="form-control" formControlName="commentairecolfi" 
               [ngClass]="{ 'is-invalid': submitted && f.commentairecolfi.errors, 'is-valid': submitted && f.commentairecolfi.valid}" 
                [(ngModel)]="commentairecolfi"  [readonly]="!evalf || !eval" ></textarea>
            </div>
          </div>
          <div *ngIf="(evalmi || evalf) &&!eval" class="form-group text-center" >
            <button  class="btn btn-lg btn-primary "  (click)="Evaluer()"> 
                S'auto Evaluer
            </button>
            
        </div>
        
          <div *ngIf="eval" class=" my form-group">
            <button class="pull-left"    type="submit" class="btn btn-success" >Enregistrer l'evaluation</button>
    
            <button class="pull-right" style="float: right;"  type="submit" class="btn btn-primary" (click)="Annuler()">Annuler</button>
           
          </div>
        </form>
</div>
</div>
</div>

<div *ngIf="add" class="card mb-5 mt-2" >
    <h2 class="card-header text-center"> Evaluation Responsable </h2>
    <div class="card-body mt-0">
      <div class="card-text">
       
        <div class="row">
            <div class="col-md-4 my form-group">
            <label for="evalreslmi">Evaluation mi-parcours</label>
            <div class="input-group mb-3">
              <input type="text" id="evalreslmi" class="form-control" readonly
               [(ngModel)]="evaresmi" >
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">%</span>
              </div>
            </div>
          </div>
    
          <div class="col-md-8 my form-group">
              <label for="commentaireresmi"> Commentaire</label>
              <textarea  id="commentaireresmi" class="form-control"  readonly 
              [(ngModel)]="commi"   ></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 my form-group">
            <label for="evalreslmi">Evaluation Finale</label>
            <div class="input-group mb-3">
              <input type="text" id="evalreslfi" class="form-control" readonly [(ngModel)]="evaresf"  >
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">%</span>
              </div>
            </div>
          
          </div>
    
          <div class="col-md-8 my form-group">
              <label for="commentaireresfi"> Commentaire</label>
              <textarea  id="commentaireresfi" class="form-control" readonly
              [(ngModel)]="comf"  ></textarea>
            </div>
          </div>
         
      
</div>
</div>
</div>

</div>
