<div>
    <h1 class="mt-3 mb-2" >EVALUATION OBJECTIFS  </h1>
    <div *ngIf="!evalmidep" class="alert alert-danger my-2" >
      Vous pouvez evaluer seulement dans l'etape 5 (debut de l'evaluation mi-parcours...)</div>
      
  
	 <div *ngIf="evalmidep" class=" my form-group" >
    <table mat-table matSort [dataSource]="dataSource"  >

      <ng-container matColumnDef="Numobjectif">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Num Objectif </th>
        <td mat-cell *matCellDef="let element index as i;"> {{i+1}} </td>
      </ng-container>
    
     
      <ng-container matColumnDef="intituleObjectif">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Intitulé Objectif </th>
        <td  mat-cell *matCellDef="let element index as i;"> {{element.objectif.nomObjectif}} 
        </td>
      </ng-container>
    
     
      <ng-container matColumnDef="ponderation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pondération </th>
        <td mat-cell *matCellDef="let element index as i;">
          <span *ngIf="element.ponderation">  {{element.ponderation}} <span>%</span> </span>
        </td>
      </ng-container>
    
<ng-container matColumnDef="evalMiParCollab">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Eval mi-parcours Collab </th>
  <td mat-cell *matCellDef="let element index as i;">
    <span *ngIf=" enableEditIndex !==i">  {{element.evalMiParCollab}} <span *ngIf="element.evalMiParCollab" >%</span> </span>
    <input *ngIf="enableEdit && enableEditIndex ==i" class="input-table"  type="text"  [(ngModel)]="evalMiParCollab" required >
  </td>
</ng-container>

<ng-container matColumnDef="commentaireCollabMiPar">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Commentaire Collab  </th>
  <td mat-cell *matCellDef="let element index as i;">
    <span *ngIf=" enableEditIndex !==i">    {{element.commentaireCollabMiPar}}  </span>
    <input *ngIf="enableEdit && enableEditIndex ==i" class="input-table"  type="text"  [(ngModel)]="commentaireCollabMiPar" required >
  </td>
</ng-container>

<ng-container matColumnDef="evalMiParcours">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Eval mi-parcours Resp  </th>
  <td mat-cell *matCellDef="let element index as i;"> {{element.evalMiParcours}} 
    <span *ngIf="element.evalMiParcours"  >%</span> 
  </td>
</ng-container>

<ng-container matColumnDef="commentaireRespMiPar">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Commentaire Resp  </th>
  <td mat-cell *matCellDef="let element index as i;">  {{element.commentaireRespMiPar}}  
  </td>
</ng-container>


      <ng-container matColumnDef="evalFinCollab">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Eval finale Collab </th>
        <td mat-cell *matCellDef="let element index as i;">
          <span *ngIf=" enableEditIndex !==i">    {{element.evalFinCollab}}  <span *ngIf="element.evalFinCollab" >%</span> </span>
          <input *ngIf="enableEdit && enableEditIndex ==i" class="input-table"  type="text"  [(ngModel)]="evalFinCollab" required >
        </td>
      </ng-container>

      <ng-container matColumnDef="commentaireCollabFin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Commentaire Collab </th>
        <td mat-cell *matCellDef="let element index as i;"> 
          <span *ngIf=" enableEditIndex !==i">    {{element.commentaireCollabFin}}    </span>
          <input *ngIf="enableEdit && enableEditIndex ==i" class="input-table"  type="text"  [(ngModel)]="commentaireCollabFin" required >
        </td>
      </ng-container>

      <ng-container matColumnDef="evalFinale">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Eval finale Resp  </th>
        <td mat-cell *matCellDef="let element index as i;">   {{element.evalFinale}}  
        </td>
      </ng-container>

      <ng-container matColumnDef="commentaireRespFin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Commentaire Resp  </th>
        <td mat-cell *matCellDef="let element index as i;">  {{element.commentaireRespFin}} 
        </td>
      </ng-container>

      <ng-container matColumnDef="action1">
        <th mat-header-cell *matHeaderCellDef class="mx-auto " >Action1</th>
        <td mat-cell *matCellDef="let element index as i;" >
     <button *ngIf="enableEdit && enableEditIndex == i" id="saveBtn" class="btn btn-primary btn-sm px-3 mr-3 " (click)="saveSegment(element)"
      type="submit">
            Enregistrer</button>
    <button *ngIf="enableEdit && enableEditIndex == i" (click)="cancel(i) " class="btn btn-secondary btn-sm px-3 ">Annuler</button>
  
          <button *ngIf="!enableEdit" mat-button class="btn btn-primary btn-sm px-1 "  (click)="enableEditMethod($event,i, element) ">
            Evaluer</button>
          
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    
    <div class="row">
      <div  class="col-4 align-self-end my form-group">
        <label for="echeance"> TRO</label>
        <input type="text" id="echeance" class="form-control"  [(ngModel)]="tro"  readonly>
      </div>
  </div>


 
    
  </div>
</div>
