
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link "  id="home-tab"  data-toggle="tab" role="tab"  aria-controls="home" aria-selected="true"
        routerLink="fixation" >Objectifs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab"  data-toggle="tab"  role="tab" aria-controls="profile" aria-selected="false"
        routerLink="evaluation" >Evaluation</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" id="profile-tab"  data-toggle="tab"  role="tab" aria-controls="profile" aria-selected="false"
        routerLink="validation" >Validation</a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" id="profile-tab"  data-toggle="tab"  role="tab" aria-controls="profile" aria-selected="false"
        routerLink="formation" >Formation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab"  data-toggle="tab"  role="tab" aria-controls="profile" 
        routerLink="evolution" >Evolution</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
     <router-outlet></router-outlet>
     <button type="button"  class="btn btn-primary mt-3" (click)="Retour()"  >Retour</button>
    </div>
    