

                
  <div *ngIf="add"  class="card mb-5 mt-2" >
    <h2 class="card-header text-center">Nouvelle Filiale  </h2>
    <div class="card-body mt-0">
      <div class="card-text">
  <form [formGroup]="filialeForm" ngNativeValidate (ngSubmit)="onSubmitForm()">
     <div class="row">
    <div class="col my form-group">
      <label for="codefiliale">Code Filiale</label>
      <input type="text" id="codefiliale" class="form-control" formControlName="codefiliale" placeholder="code filiale"
         [ngClass]="{ 'is-invalid': submitted && f.codefiliale.errors, 'is-valid': submitted && f.codefiliale.valid}"  >
         <div *ngIf="codeexiste" class="alert alert-danger my-2" >Ce code est déjà utilisé  </div>
         <div *ngIf="submitted && f.codefiliale.errors" class="alert alert-danger my-2" >
          Veuillez saisir un code</div> 
    </div>
    
    <div class="col my form-group">
      <label for="intitulefiliale">Intitulé Filiale</label>
      <input type="text" id="intitulefiliale" class="form-control" formControlName="intitulefiliale" placeholder="intitule filiale" 
      [ngClass]="{ 'is-invalid': submitted && f.intitulefiliale.errors, 'is-valid': submitted && f.intitulefiliale.valid}"   >   
      <div *ngIf="intituleexiste" class="alert alert-danger my-2" >Cet Intitulé est déjà utilisé  </div> 
      <div *ngIf="submitted && f.intitulefiliale.errors" class="alert alert-danger my-2" >
        Veuillez saisir un intitulé</div> 
    </div>
  </div>

  <div class=" my form-group">
    <label for="intitulemere"> Entité de Rattachement</label>
    <select class="form-control " formControlName="intitulemere"    >
      <option  value="aucune"  > Aucune</option>
      <option *ngFor="let division of divisions" (ngValue)="division" > {{division.intitulePosition}} </option>
    </select>
</div>
    <div class=" my form-group">
    
      <button  class="pull-left"   type="submit" class="btn btn-success" >Ajouter la filiale</button>

      <button class="pull-right" style="float: right;"  type="submit" class="btn btn-primary" (click)="Annuler()" >Annuler</button>
    </div>

  </form>
</div>
</div>
</div>
  
<ng-template #callAPIDialog>
  <h2 matDialogTitle>Remarque</h2>
  <mat-dialog-content class="mat-typography">
    <h3>Etes-vous sûr de vouloir supprimer la filiale ?</h3>
  
  </mat-dialog-content>
  <mat-dialog-actions class="row" align="end">
      <button mat-button matDialogClose="no" class=" col btn btn.btn-primary pull-left">Annuler</button>
      <button mat-button matDialogClose="yes" class=" col btn btn-danger pull-right">Supprimer</button>
  </mat-dialog-actions>
</ng-template>


<button type="button"  class="my btn btn-success my-3" (click)="ajouterFiliale()" *ngIf="!add">Ajouter Filiale</button>
<h2 class="card-title">Les filiales de l'entreprise </h2>
<div class="mat-elevation-z8">
<mat-form-field class="mat-form-field ml-2 mt-2" >
  <mat-label><mat-icon class="mr-1 ">search</mat-icon>Recherche</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex.filiale1" >
</mat-form-field>
<table mat-table matSort [dataSource]="dataSource"  >

  <ng-container matColumnDef="NumFiliale">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Num Filiale </th>
    <td mat-cell *matCellDef="let element index as i;"> {{i+1}} </td>
  </ng-container>

 
  <ng-container matColumnDef="codeFiliale">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Code Filiale </th>
    <td  mat-cell *matCellDef="let element index as i;">
      <span *ngIf="enableEditIndex !==i"> {{element.codeFiliale}} </span>
      <input *ngIf="enableEdit && enableEditIndex ==i" class="input-table"  type="text"  [(ngModel)]="codeFiliale" required >
    </td>

    
  </ng-container>

 
  <ng-container matColumnDef="intituleFiliale">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Intitulé Filiale </th>
    <td mat-cell *matCellDef="let element index as i;">
      <span *ngIf="enableEditIndex !==i">  {{element.intitulePosition}} </span>
      <input *ngIf="enableEdit && enableEditIndex ==i" class="input-table" type="text" [(ngModel)]="intitulePosition" required >
    </td>
  </ng-container>

  <ng-container matColumnDef="divisionMere">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Entité de Rattachement  </th>
    <td mat-cell *matCellDef="let element index as i;">
      <span *ngIf="!element.division && enableEditIndex !==i">  / </span>
      <span *ngIf="element.division && enableEditIndex !==i">  {{element.division.intitulePosition}} </span>
     <select *ngIf="enableEdit && enableEditIndex ==i"  class="input-table" [ngModel]="selectedDevice" (ngModelChange)="onChange($event)"  >
        <option  value="aucune"  > Aucune</option>
        <option *ngFor="let division of divisions" (ngValue)="division" > {{division.intitulePosition}} </option>
      </select>
    </td>
  </ng-container>

  <ng-container matColumnDef="action1">
    <th mat-header-cell *matHeaderCellDef class="mx-auto " >Action1</th>
    <td mat-cell *matCellDef="let element index as i;" >
 <button *ngIf="enableEdit && enableEditIndex == i" id="saveBtn" class="btn btn-primary btn-sm px-3 mr-3 " (click)="saveSegment(element)"
  type="submit">
        Enregistrer</button>
<button *ngIf="enableEdit && enableEditIndex == i" (click)="cancel(i) " class="btn btn-secondary btn-sm px-3 ">Annuler</button>

      <button *ngIf="!enableEdit" mat-button class="btn btn-primary btn-sm px-1 "  (click)="enableEditMethod($event,i, element) ">
        <mat-icon >launch</mat-icon>Modifier</button>
      
    </td>
  </ng-container>

  <ng-container   matColumnDef="action2">
    <th mat-header-cell *matHeaderCellDef class="mx-auto " >Action2</th>
    <td mat-cell *matCellDef="let element index as i;" >
      <button *ngIf="!enableEdit" mat-button class="btn btn-danger btn-sm px-1 "  (click)="callAPI(element)">
        <mat-icon>delete_outline</mat-icon>Supprimer</button>  
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>